<div class="showcontainer"> GAME ID: <%=@game.id%>
  <% if @error %>
  <%= flash[:error] %>
  <%end%>
  <h3> List of Players: </h3>
  <% @players.each do |player| %>
  <li>
  <ul> <%=player%> </ul>
</li>
  <% end %>

  <h4 class= "showtitle"> Current Player: <%= @current_player %> </h4>

  <div class= "show_buttons">
    <%= form_tag("/games/#{@game.id}", method: "put") do %>
      <%= hidden_field_tag("move", "roll_dice") %>

    <%= submit_tag("Roll Dice", :class=> "roll") %>

    <% end %>

    <%= form_tag("/games/#{@game.id}", method: "put") do %>
     <%= hidden_field_tag("move", "stop") %>
    <%= submit_tag("Stop", :class=> "roll") %>
  </div>


  <div class= "score"> <br/>Score: <%=@score%> <br/> Wounds: <%=@wounds%> </div>
  <% if @last_turn.rolls != [] %>

  <h4> Roll Result: <% @last_turn.rolls.last.results.each do |die| %> </h4>
  <ul>
    <li style="color: <%= die.color %>; "> <%= die.color %>: <%= die.type %> </li>
  </ul>
  <% end %>
  <% end %>


<% end %>

</div>
